*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.line{
    height: 6px;
    width: 40%;
    background-color: rgb(20, 220, 20);
    display: inline-block;
}

.justify{
    text-align: justify;
}

.star{
    color: rgb(20, 220, 20);
}

.btn1{
    color: white;
    background-color: rgb(20, 220, 20);
    border-radius: 20px 0px 20px 0px;

    transition: 0.3s;  
    border: 2px solid transparent;
}

.btn1:hover{
color: rgb(20, 220, 20);
border: 2px solid rgb(20, 220, 20); 
background: transparent; 
}


.btn2{
color: rgb(20, 220, 20);
background-color: transparent;
border-radius: 20px 0px 20px 0px;

transition: 0.3s;  
border: 2px solid rgb(20, 220, 20);
}

.btn2:hover{
color: white;
border: 2px solid rgb(20, 220, 20);
background: rgb(20, 220, 20); 
}

/* navbar */
.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: .4s;
}

.nav-item a:hover{
    color: rgb(20, 220, 20);
}

.navbar-brand{
    
    width: 100px;
}


.search{
    height: 40px;
    outline: none;
    border: 2px solid rgb(20, 220, 20);
    background-color: transparent;
    border-radius: 20px 0 0 0px;
    border-right: none;
    
}

.btn-search{
    color: white;
    background-color: rgb(20, 220, 20);
    border-radius: 0px 0px 20px 0px;
    border: none;
    transition: 0.3s;
}

.btn-search:hover{
    
    background-color: rgba(20, 220, 20,0.7);
   
}


.cart{
    cursor: pointer;
    color: black;
    transition: .3s;
}

.cart:hover{
    color: rgb(20, 220, 20);
}

.navbar-toggler{
    font-size: 24px;
}

.navbar-toggler:hover{
    color: rgb(20, 220, 20);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: 0 0 5px rgb(20, 220, 20);
    color: rgb(20, 220, 20);
}

/* navbar */



/* hero section  */
.hero{
    background: url(../img/m1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;
}







/* hero section  */


/* main section */

.about{
    background: url(../img/abut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
height: 90vh;
}
/* main section */


/* welcome section */

.welcome{
    background-color: rgb(20, 220, 20);
}

.welcome .line{
    background-color: white;
}

.welcome span{
    color: rgb(20, 220, 20);
}

.welcome .card{
    border: none;
    border-radius: 30px 0 30px 0;
    cursor: pointer;
}
/* welcome section */


/* product section  */

.product .card{
   
    border: 1px dashed rgb(20, 220, 20);
    border-radius: 30px 0 30px 0;
}

.product .btn1{
    margin-right: auto;
    
}
/* product section  */

/* discount section */

.discount{
    background-color: rgb(20, 220, 20);
    color: white;
}

.discount .btn2{
    background-color: white;
    border-color: rgb(20, 220, 20);
}
.discount .btn2:hover{
    background-color: rgb(20, 220, 20);
    border-color: white;
}
/* discount section */


/* best products */

.best-product .card{
    border-radius: 30px 0 30px 0;
    background-color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}
.best-product .card:hover{
    background-color: rgb(20, 220, 20);
    
}

.best-product .card:hover p,
.best-product .card:hover span,
.best-product .card:hover h5{
    color: white!important;
    transition: all 0.4s ease;
}


/* best products */


/* new arrivals */

.new-arrival .card{
    border-color: rgb(20, 220, 20);
    border-radius: 30px 0 30px 0;

}
/* new arrivals */


/* contact */

.contact{
    background: url(../img/cont.jpg) no-repeat;
    background-size: cover;

}
/* contact */
